<form
  [formGroup]="taskform"
  (ngSubmit)="onFormSubmit()"
  class="rounded-2xl overflow-hidden bg-white flex flex-col h-full"
>
  <div class="flex gap-1 items-center p-4">
    <img src="images/icon-new-task.svg" />
    <h1 class="font-semibold text-lg">
      {{ _data.mode === 'create' ? 'Criar ' : 'Editar ' }} tarefa
    </h1>
    <button
      type="button"
      class="ml-auto cursor-pointer bg-none border-none p-0"
      (click)="closeModal()"
    >
      <img src="images/icon-close.svg" alt="Fechar" />
    </button>
  </div>
  <div class="p-4 border-y border-[#D1D5DB] flex flex-col gap-4">
    <div>
      <p class="font-semibold text-sm mb-2">Nome</p>
      <input
        formControlName="name"
        class="w-full border border-[#D1D5DB] p-3 rounded-lg text-sm font-light text-[#89919f]"
        type="text"
        placeholder="Descreva o que deverá ser feito"
      />
      @if (isNameFieldInvalid()) {
        <p class="font-semibold text-sm text-red-500">Campo obriogatório!</p>
      }
    </div>
    <div>
      <p class="font-semibold text-sm mb-2">Descrição</p>
      <input
        formControlName="description"
        class="w-full border border-[#D1D5DB] p-3 rounded-lg text-sm font-light text-[#89919f]"
        type="text"
        placeholder="Adicione uma descrição"
      />
      @if (isDescriptionFieldInvalid()) {
        <p class="font-semibold text-sm text-red-500">Campo obriogatório!</p>
      }
    </div>
  </div>

  <div class="p-4 flex justify-end gap-2">
    <button
      class="py-3 px-4 bg-[#FAFAFA] rounded-xl text-sm font-semibold cursor-pointer active:translate-y-1 transition-transform duration-75"
      type="button"
      (click)="closeModal()"
    >
      Cancelar
    </button>
    <button
      [disabled]="taskform.invalid"
      class="{{
        `py-3 px-4 rounded-xl text-white text-sm font-semibold cursor-pointer ${
          taskform.invalid
            ? 'bg-[#D7D8D8]'
            : 'bg-[#2A89EF] active:translate-y-1 transition-transform duration-75 shadow-md shadow-blue-500/50'
        }`
      }}"
      type="submit"
    >
      {{ _data.mode === 'create' ? 'Criar uma tarefa' : 'Salvar alterações' }}
    </button>
  </div>
</form>
